* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
/*fine sezione parametri di reset generici*/

/*sezione che da le specifiche dei vari box colorati*/
.box {
    width: 100%;
}

.logo {
    width: 15%;
    padding-right: 10px;
    border-right: 1px solid #E5E5E5;
}

nav ul > li {
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    color: #8A8A8A;
    font-size: 12px;
}
/*fine sezione header*/

.s-one {
    background-color: #E1D67A;
    height: 150px; 
    margin-top: 10px;
}

.s-two {
    background-color: #0186FF;
    height: 250px;
    margin-top: 10px;
}

.title {
    background-color: #ABCFE7;
    height: 35px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    width: 25%;
    height: 200px;
    float: left;
    background-color: #ABCFE7;
}

article {
    width: 48%;
    height: 200px;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #ABCFE7;
}

aside, article {
    margin-top: 10px;
}

footer {
    background-color: #8801FE;
    margin-top: 5px;
}
